@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background-color: antiquewhite;
    color: black;
    font-family: 'Open Sans';}

    
fondo
    background: url(IMG/Background2.jpg)
    height: 100vh
