@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

  
.fondo0{
    background: url(../IMG/Background2.jpg);
    height: 100vh;}

.fondo1{
    background: hsl(46, 74%, 92%);
    color: rgb(26, 9, 0);}

    
/*========================================================================== N  A  V     B  A  R */
.centrado{
    margin: 0 auto;}

.gris{
    background:rgba(0, 0, 0, 0.60);}

.top-nav-collapse{
    background: rgba(26, 26, 26, 0.90) !important;}   

.fab {
    color: white;
    font-size: 25px;
    padding: 5px 10px;}

.logoz{
    img{
        height: 70px;
        transition: transform 1s;
        &:hover{
            transform: rotate(360deg) translateZ(0);}}}

ul{
    li{
        a{
            font-size: 20px;
            font-family: 'Segoe UI';
            &:hover{
                background: darkgoldenrod;
                color: white;}}}}

.active{
    background-color:#ffffff00;
    color: darkgoldenrod;}

/*================================================================================= F O O T E R 1 */
.footer1{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
    height: 150px;
    width: 60%;
    background-color:rgba(0, 0, 0, 0.40);
    margin: 0 auto;}

.filas{
    margin: 0 auto;
    text-align: center;
    img{
        padding-top:5px;
    }}

.titulos{
    font-size: 25px;
    font-family: 'Segoe UI';
    color: #e09900;}

.subtitulos{
    font-size: 18px;
    font-family:  'Segoe UI';
    color: white;}
/*================================================================================= F O O T E R 2 */
#foooter {
    background: #333333;
    color: #faa700;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 30px; 
    padding-bottom: 10px;}

.fontFooter{
    color: white;
    letter-spacing: 2px;
    font-family: 'Barlow Condensed', sans-serif;}

.fas {
    color: #faa700;
    font-size: 19px;}

.txtFooter{
    color: #faa700;
    font-size: 16px;}

     
.segmento-uno{
    h4{
        border-bottom: 1px solid;
        padding-bottom: 15px;
        &:before {
            content: "| ";
            color: red;}}}
      
.segmento-dos{
    h4{
        border-bottom: 1px solid;
        padding-bottom: 15px;
        &:before {
            content: "| "; 
            color:red;}}}

.google-maps {
    position: relative;
    padding-bottom: 85%;
    height: 0;
    overflow: hidden; }
                  
.google-maps__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 199px !important;
    height: 199px !important;}

.segmento-tres{
    h4{
        border-bottom: 1px solid;
        padding-bottom: 15px;
        &:before {
            content: "| "; 
            color:red;}}}

.segmento-tres ul li a{
    color: white;
    text-decoration: none;
    color: #faa700;
    font-size: 16px;}
        
    
.linksUtiles {
    list-style: none;
    color: white;
    text-decoration: none;}

.segmento-cuatro{
    h4{
        border-bottom: 1px solid;
        padding-bottom: 15px;
        &:before {
            content: "| "; 
            color:red;}}}
  
/*============================================================= W E B   S T O R E */
#webstore{
    margin-top: 110px;
    margin-bottom: 110px;
    color: white;}
.store{
    max-width: 1000px;
    width: 90%;
     margin: auto;}

.cuadro{
    background: rgba(50, 33, 16, 0.45);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;}

.cuadro__thumbnail{
    width: 250px;
    height: 200px;
    background: white;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;}

.cuadro__img{
    width: 300px;
    height: 200px;}
            
.cuadro__titulo{
    font-family: 'open sans';
    font-size: 30px;
     margin-bottom: 20px;}

.cuadro__textos{
    color: white;}

.cuadro_link{
    color: white;}

.cuadro__descripcion{
    line-height: 28px;
    margin-bottom: 20px;}

.boton{
    border: none;
    min-width: 180px;
    height: 50px;
    padding: 0 30px;
    background: black;
    color: white;
    display: inline-block;
    border-radius: 100px;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #513d3df0;
    transition: .3s ease all;}

.boton__texto{
    font-size: 15px;}

.boton:hover{
    background: brown;
    color:white;
    text-decoration: none;}

.frase{
    text-align: center;
    margin-left: 70px 0;}

.frase__texto{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;}



/*================================================================= C O N T E N I D O   C O M P A R T I D O*/

.logo2{
    position: relative;
    width: 600px;
    height: 500px;
    top: 30%;
    margin: 0 auto;}

.texto1 {
    width: 70%;
    margin: 110px auto 0px auto;
    font-size: 16px;
    height: 100px;
    text-align:center;}

.introGral {
    width: 70%;
    font-size: 18px;
    text-align:center;
    margin: 110px auto 50px;
    text-align: justify;}
    

#galeria{
    background: white;

    img{
        padding: 10px 0;}}

   
.estilosTattoo{
    position: flex;
    width: 1200px;
    padding: 15px auto;
    margin: 0 auto;}

.encabezado {
    font-size: 20px;
    color:rgb(41, 15, 0);
    font-weight: 500;}

#tattooIntro {
    width: 1100px;
    margin: 0 auto 50px auto;}

.subtattoo{
    width: 1100px;
    color: rgb(41, 15, 0);
    font-size: 30px;
    margin: 0 auto;
    padding-bottom: 30px;
    text-decoration: underline;}

.txttattoo{
    line-height: 40px;
    font-size: 20px;    }

.center{
    text-align: center;}

.tituloIzq{
    color: white;
    font-size: 25px;
    padding-bottom: 50px;
    padding-left: calc(100% / 10 * 1.5);}

#tabla-barberos{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;}

.titulo{
    font-size: 35px;
    color: black;
    margin: 30px 20%;}

