@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    color: black;
    font-family: 'Open Sans';}

.fondo{
    background: url(../IMG/Background2.jpg);
    height: 100vh;
}
    
/*========================================================================== N  A  V     B  A  R */
.centrado{
    margin: 0 auto;}

.gris{
    background:rgba(0, 0, 0, 0.40);}

.top-nav-collapse{
    background: rgba(26, 26, 26, 0.90) !important;}   

.fab{
    color: white;
    font-size: 25px;
    padding: 5px 10px;}

.logoz{
    img{
        height: 70px;
        transition: transform 1s;
        &:hover{
            transform: rotate(360deg) translateZ(0);}}}

ul{
    li{
        a{
            font-size: 20px;
            font-family: 'Segoe UI';
            &:hover{
                background: darkgoldenrod;
                color: white;}}}}

.active{
    background-color:#ffffff00;
    color: darkgoldenrod;}

/*==============================================================================C O N T E N I D O */

.logo2{
    position: relative;
    width: 600px;
    height: 500px;
    top: 30%;
    margin: 0 auto;}

/*================================================================================= F O O T E R S */
.caja1{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
    height: 150px;
    width: 60%;
    background-color:rgba(0, 0, 0, 0.40);
    color: white;
    margin: 0 auto;}

.row{
    margin: 0 auto;
    text-align: center;}

.titulos{
    font-size: 25px;
    font-family: 'Segoe UI';
    color: hsl(53, 98%, 65%);}

.subtitulos{
    font-size: 18px;
    font-family:  'Segoe UI';}


